{{ 'jquery.instagram.js' | asset_url | script_tag }}

<div id="instafeed" data-access-token="{{ settings.insta_token }}" data-user-id="{{ settings.insta_id }}"></div>

<script>
    var insta = document.getElemendById('instafeed')

    var feed = new Instafeed({
        get: 'user',
        userId: insta.getAttribute('7528336838'),
        accessToken: insta.getAttribute('7528336838.1677ed0.6d36e98f73974e3788f290e4f85c47b9')
    });
    feed.run();
</script>