{{ 'jquery.instagram.js' | asset_url | script_tag }}

<div id="instafeed" data-access-token="{{ settings.insta_token }}" data-user-id="{{ settings.insta_id }}"></div>

<script>
    var insta = document.getElemendById('instafeed')

    var feed = new Instafeed({
        get: 'user',
        userId: insta.getAttribute('data-user-id'),
        accessToken: insta.getAttribute('data-access-token')
    });
    feed.run();
</script>